@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: league-spartan-bold;
    src: url('../public/assets/fonts/LeagueSpartan-Bold.ttf');
}

@font-face {
    font-family: league-spartan-medium;
    src: url('../public/assets/fonts/LeagueSpartan-Medium.ttf');
}

@font-face {
    font-family: league-spartan-semiBold;
    src: url('../public/assets/fonts/LeagueSpartan-SemiBold.ttf');
}

.ls-bold{
    font-family: league-spartan-bold;
}

.ls-semibold{
    font-family: league-spartan-semiBold;
}

.heading-l{
    font-family: league-spartan-bold;
    font-size: 2.2rem;
    line-height: 33px;
    letter-spacing: -1px;
}

.heading-m {
    font-family: league-spartan-bold;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: -0.75px;
}


.heading-s-var{
    font-family: league-spartan-bold;
    font-size: 0.93rem;
    line-height: 24px;
    letter-spacing: -0.25px;
}

body{
    font-family: league-spartan-medium;
    font-size: 0.81rem;
    line-height: 18px;
    letter-spacing: -0.1px;
}

.close-side-panel-bg{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out, visibility 0s 0.6s
}

.open-side-panel-bg {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, background-color 0.2s linear
}

.close-side-panel{
    max-width: 0px;
    transition: max-width 0.3s ease-in-out;
    overflow-x: hidden;
}

.open-side-panel{
    max-width: 790px;
    transition: max-width 0.3s ease-in-out;
    overflow: hidden;
}

.top-shadow{
-webkit-box-shadow: 0px -39px 59px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -39px 59px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -39px 59px -4px rgba(0, 0, 0, 0.1);
}

